version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: mbs_app
    restart: always
    volumes:
      - .:/var/www
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: mbs_nginx
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: mbs_db
    restart: always
    environment:
      MYSQL_DATABASE: mbs
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: mbs
      MYSQL_PASSWORD: mbs
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
