.shadow {
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.25);
}
/* add button */
.add-btn {
    background-color: var(--primary-dark);
    color: white; /* Bootstrap primary */
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    transition: all 0.25s ease;
}

/* Hover */
.add-btn:hover {
    background-color: var(--primary);
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.25);
}

/* Active (click) */
.add-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Focus */
.add-btn:focus {
    outline: none;
}


/* end add button */
/* Image load */
.img_load{
    height: 200px;
    width: 200px;
}
/* End */
